<div class="post-date">{{ site.data.settings.sharing_button_prompt }}</div>
  <div class="sharing-icons">
    <!-- <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.github.url }}{{ page.url }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.github.url }}{{ page.url }}&amp;title={{ page.title }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> -->
    <!-- <a href="https://plus.google.com/share?url={{ site.github.url }}{{ page.url }}" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a> -->
    <a href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={{ site.github.url }}{{ page.url }}" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
    <a href="http://shuo.douban.com/!service/share?href={{ site.github.url }}{{ page.url }}&name={{page.title}}" target="_blank"><i class="fa  Example of share-alt" aria-hidden="true"></i></a>
    <!-- <a href="http://v.t.qq.com/share/share.php?url={{ site.github.url }}{{ page.url }}&name={{page.title}}" target="_blank"><i class="fa fa-qq" aria-hidden="true"></i></a> -->
  </div>
</div>
